{% extends 'base.html' %}

{% block content %}

<h1>  welcome to contact</h1></br>

<form method='post' action='/formprocess'>
    {% csrf_token %}
    <h3>Enter Your Details</h3></br>
    First Name: <input type='string' name='txt1' required /></br>
    Last Name: <input type='string' name='txt2' required /></br>
    Contact Number: <input type='Number' name='txt3' required /></br>
    Email ID : <input type='Email' name='txt4' required /></br>
    <input type="submit"/>

    </form>

{% endblock %} 